body {
	background-color:#1c1c1c;
	color: #fff;
	text-align: center;
}
#container {
	width: 690px; text-align: left;
}
#sidebar {
	width: 200px; 
	float: left;
	margin-right: 10px;
}
#main {
	width: 480px;
	float: right;
}
