<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>Save new issue</title>
		<link rel="stylesheet" href="../css/typography.css" />
        <link rel="stylesheet" href="../css/screen.css" />
        <link rel="stylesheet" href="../js/datepicker/calendar.css" />
		<script src="../js/prototype.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/objects.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/datepicker/calendar.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			Event.observe(window, 'load', function() {
			    var projects = Titanium.API.get("projects");
				
				var option = "";
				$('issue_project').insert('<option value="0">INBOX</option>');
				projects.each(function(project) {
					option = '<option value="' + project.project_id + '">' + project.name + "</option>";
					$('issue_project').insert(option);
				});
				
				var activeProject = Titanium.API.get("active");				
				
				if (activeProject != "") {
				    var parts = activeProject.split("*"), key = 0;
				    if (parts[0] == "project") {
				        key = parts[2];
				    } else if (parts[0] == "inbox") {
				        key = 0;				        
				    }
				    $$('select#issue_project option').each(function(o) {
                      if(o.readAttribute('value') == key) {
                        o.selected = true;
                        throw $break;
                      }
                    });
				}
				
				var editIssueID = Titanium.API.get("editIssue");
				if (editIssueID != 0 && editIssueID != null) {
    				var sync = Titanium.API.get("sync");
    				var issue = sync.model.getIssue(sync.getParamsObject("issue_id", editIssueID));
    				if (issue != null) {
    				    var form = $('dialogNewIssue');
                            
                        var field = form["title"];
                        $(field).setValue(issue.title);
    				    field = form["description"];
                        $(field).setValue(issue.description);
                        
                        if (issue.labels.length > 0) {
                            var labels = "", first = true;
                            issue.labels.each(function(label){
                                if (first)
                                    labels += label.text;
                                else
                                    labels += "," + label.text;
                                first = false;
                            });
                            field = form["labels"];
                            $(field).setValue(labels);
                        }
                        
                        var users = sync.model.getUsers(sync.getParamsObject("project_id", issue.project.project_id));
                        $("assignee").update("");
                        var option = new Element("option", {"value" : 0}).update(" - none - ");
                        $("assignee").insert({
                            bottom : option
                        });
                        users.each(function(user) {
                            option = new Element("option", {"value" : user.user_id}).update(user.name);
                            $("assignee").insert({
                                bottom : option
                            });
                        });
                        
                        if (issue.user.user_id != 0) {
                            key = issue.user.user_id;
                            $$('select#assignee option').each(function(o) {
                              if(o.readAttribute('value') == key) {
                                o.selected = true;
                                throw $break;
                              }
                            });
                        }
                        
                        field = form["issue_id"];
                        $(field).setValue(editIssueID);
                        
                        $("dialogSaveIssue").update("Edit issue");
    				}
    				Titanium.API.set("editIssue", 0);
				}
			});
		</script>		
	</head>
	<body class="dialog">	    
		<form id="dialogNewIssue">
		    <table class="issueTable">
                <tr>
                    <td colspan="3"><input type="text" name="title" id="title" size="65" placeholder="Issue name / title" class="issueTitle"></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <input type="text" name="labels" id="labels" placeholder="new label" size="65">
                        <button class="minimal">Add</button>
                    </td>
                    <!--<td colspan="2">
                        <div class="labels"><span>one</span><span>two</span><span>three</span></div>
                    </td>-->
                </tr>
                <tr>
                    <td colspan="2" rowspan="4"><textarea name="description" id="description" rows="10" cols="50"></textarea></td>
                    <td>
                        <label for="issue_project">Project</label><br>
                        <select name="issue_project" id="issue_project"></select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="due_date">Due date</label><br>
                        <input type="text" name="due_date" class="calendarSelectDate">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="assignee">Assignee</label><br>
                        <select name="assignee" id="assignee">
                            <option value="0"> - none - </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="milestone">Milestone</label><br>
                        <select name="milestone" id="milestone">
                            <option value="0"> - none - </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="hidden" name="issue_id" id="issue_id" value="0" />
                        <button type="submit" class="cupid-green" id="dialogSaveIssue">Add issue</button>
                    </td>
                    <td align="right"><button class="minimal" type="button" id="dialogSaveIssueCancel">Storno</button></td>
                    <td>&nbsp;</td>
                </tr>
            </table>
            <div id="calendarDiv"></div>			
		</form>
		
		<script type="text/javascript">
		    $("issue_project").observe("change", function(evt) {
		        var key = this.getValue();
		        var sync = Titanium.API.get("sync");
		        var option = null;
		        
		        var params = new Object();
		        params["project_id"] = key;
		        var milestones = sync.model.getMilestones(params);
		        var users = sync.model.getUsers(params);
		        
		        $("milestone").update("");
		        option = new Element("option", {"value" : 0}).update(" - none - ");
                $("milestone").insert({
                    bottom : option
                });
		        milestones.each(function(milestone) {
		            option = new Element("option", {"value" : milestone.milestone_id}).update(milestone.title);
		            $("milestone").insert({
		                bottom : option
		            });
		        });
		        
		        $("assignee").update("");
		        option = new Element("option", {"value" : 0}).update(" - none - ");
		        $("assignee").insert({
                    bottom : option
                });
                users.each(function(user) {
                    option = new Element("option", {"value" : user.user_id}).update(user.name);
                    $("assignee").insert({
                        bottom : option
                    });
                });
		    });
		    
			var handlerSaveIssue = document.on('click', 'button[id="dialogSaveIssue"]', function(event, element) {						
					var sync = Titanium.API.get("sync");
					
					var form = $('dialogNewIssue');
                    		
					var field = form["title"];
					var title = $(field).getValue();
					
					field = form["issue_project"];
					var project_id = $(field).getValue();
					
					field = form["description"];
                    var description = $(field).getValue();
                    
                    field = form["milestone"];
                    var milestone = $(field).getValue();
                    
                    field = form["due_date"];
                    var due_date = $(field).getValue();
                    
                    field = form["assignee"];
                    var assignee = $(field);
                    var user_id = assignee.value;                    
                    
                    field = form["labels"];
                    var labels_raw = $(field).getValue();
                    
                    var issue = new Issue(0, title, description);
                    
                    var labels = new Array();
                    if (labels_raw != "") {
                        labels = labels_raw.split(",");                        
                    }
                    issue.labels = labels;
                    issue.dueDate = due_date;
                    
                    if (project_id != 0) {                                        
    					issue.project = sync.model.getProject(sync.getParamsObject("project_id", project_id));
    					issue.project_type = issue.project.type;
    				} else {
					    issue.inbox = 1;
					    issue.project = new Project("", "");
					    issue.project.project_id = 0;
                        issue.project.type = 0;
					    issue.project_type = 0;					    
					}
					
					if (user_id != 0) {
					    issue.user = sync.model.getUser(sync.getParamsObject("user_id", user_id));				        
					} else {
					    issue.user = new User("", "", null);
					    issue.user.user_id = 0;
					}
					if (milestone != 0) {
    					issue.milestone = sync.model.getMilestone(sync.getParamsObject("milestone_id", milestone));    					
					} else {
					    issue.milestone = null;
					}
					
					field = form["issue_id"];
                    issue.issue_id = $(field).getValue();
                    
                    sync.saveIssue(issue);					
					
					var window = Titanium.UI.getCurrentWindow();
					window.close();
				}.bind(this)
			);
			handlerSaveIssue.stop();
			handlerSaveIssue.start();
			
			var handlerSaveIssueCancel = document.on('click', 'button[id="dialogSaveIssueCancel"]', function(event, element) {                       
                    var window = Titanium.UI.getCurrentWindow();
                    window.close();
                }.bind(this)
            );
            handlerSaveIssueCancel.stop();
            handlerSaveIssueCancel.start();
		</script>
	</body>
</html>
