<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>Save new issue</title>
		<link rel="stylesheet" href="../css/styles.css" />
		<script src="../js/prototype.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			Event.observe(window, 'load', function() {
				var projects = Titanium.API.get("projects");			
				projects.each(function(project) {
					option = '<option value="' + project + '">' + project;
					$('issue_project').insert(option);
				});			
			});
		</script>		
	</head>
	<body class="dialog">
		<form id="dialogNewIssue">
			<label for="issue_title">Title:</label><br/>						
			<input type="text" name="issue_title" id="issue_title" /><br/>
			<label for="issue_project">Project:</label><br/>						
			<select id="issue_project" name="issue_project"></select><br/>
			<button id="dialogSaveIssue">Save</button>
		</form>
		
		<script type="text/javascript">
			var handlerSaveIssue = document.on('click', 'button[id="dialogSaveIssue"]', function(event, element) {						
					var form = $('dialogNewIssue');
							
					field = form["issue_title"];
					var title = $(field).getValue();
					
					field = form["issue_project"];
					var project_name = $(field).getValue();
					
					var sync = Titanium.API.get("sync");					
					sync.saveIssue(0, title, project_name);
					
					var window = Titanium.UI.getCurrentWindow();
					window.close();
				}.bind(this)
			);
			handlerSaveIssue.stop();
			handlerSaveIssue.start();
		</script>
	</body>
</html>
