<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Save new project</title>
        <link rel="stylesheet" href="../css/typography.css" />
        <link rel="stylesheet" href="../css/screen.css" />
        <script src="../js/prototype.js" type="text/javascript" charset="utf-8"></script>
        <script src="../js/objects.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript">
            Event.observe(window, 'load', function() {
                var editProjectID = Titanium.API.get("editProject");
                if (editProjectID != 0 && editProjectID != null) {
                    var sync = Titanium.API.get("sync");
                    var project = sync.model.getProject(sync.getParamsObject("project_id", editProjectID));
                    
                    var form = $('dialogNewProject');
                    
                    var field = form["project_name"];
                    $(field).setValue(project.name);
                    var field = form["old_name"];
                    $(field).setValue(project.name);
                    field = form["project_description"];
                    $(field).setValue(project.description);
                    field = form["project_state"];
                    $(field).setValue(project.state);
                    field = form["project_type"];
                    $(field).setValue(project.type);
                    field = form["project_id"];
                    $(field).setValue(project.project_id);
                    
                    if (project.labels.length > 0) {
                        var labels = "", first = true;
                        project.labels.each(function(label){
                            if (first)
                                labels += label.text;
                            else
                                labels += "," + label.text;
                            first = false;
                        });
                        field = form["labels"];
                        $(field).setValue(labels);
                    }
                    
                    $("dialogSaveProject").update("Edit project");
                }
            });
        </script>       
    </head>
    <body class="dialog">
        <form id="dialogNewProject">
            <table class="issueTable">
                <tr>
                    <td colspan="2"><input type="text" name="project_name" id="project_name" size="65" placeholder="Project name / title" class="issueTitle"></td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="labels" id="labels" placeholder="new label">
                        <button class="minimal">Add</button>
                    <td>
                        <div class="labels"><span>one</span><span>two</span><span>three</span></div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="3"><textarea name="project_description" rows="10" cols="50"></textarea></td>
                    <td>
                        <label for="project_state">State</label><br>
                        <select name="project_state" id="project_state">
                            <option value="1">active</option>
                            <option value="0">completed</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="project_type">Type</label><br>
                        <select name="project_type" id="project_type">
                            <option value="1">Assembla</option>
                            <option value="2">Google Code</option>
                            <option value="3">GitHub</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <input type="hidden" name="project_id" id="project_id" value="0" />
                        <input type="hidden" name="old_name" id="old_name" value="" />
                        <button type="submit" class="cupid-green" id="dialogSaveProject">Add project</button>
                    </td>
                    <td align="right"><button class="minimal" type="button" id="dialogSaveProjectCancel">Storno</button></td>
                </tr>
            </table>            
        </form>
        
        <script type="text/javascript">
            var handlerSaveProject = document.on('click', 'button[id="dialogSaveProject"]', function(event, element) {                      
                    var form = $('dialogNewProject');
                            
                    var field = form["project_type"];
                    var type = $(field).getValue();
                            
                    field = form["project_name"];
                    var name = $(field).getValue();
                    
                    field = form["old_name"];
                    var old_name = $(field).getValue();
                    
                    field = form["project_description"];
                    var description = $(field).getValue();
                    
                    var project = new Project(name, description);
                    project.type = parseInt(type);
                    
                    field = form["project_id"];
                    project.project_id = $(field).getValue();
                    project.old_name = old_name;
                    
                    var sync = Titanium.API.get("sync");
                    sync.saveProject(project);
                    
                    var window = Titanium.UI.getCurrentWindow();
                    window.close();
                }.bind(this)
            );
            handlerSaveProject.stop(); handlerSaveProject.start();
            
            var handlerSaveProjectCancel = document.on('click', 'button[id="dialogSaveProjectCancel"]', function(event, element) {                      
                    var window = Titanium.UI.getCurrentWindow();
                    window.close();
                }.bind(this)
            );
            handlerSaveProjectCancel.stop(); handlerSaveProjectCancel.start();
        </script>
    </body>
</html>
